{
  "prettier/prettier": [
    "error",
    {},
    {
      "usePrettierrc": false
    }
  ],
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": false,
  "useTabs": false,
  "quoteProps": "consistent",
  "bracketSpacing": false,
  "arrowParens": "always",
  "printWidth": 100
}